<!DOCTYPE html>
<html lang="pt-B">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">

    {% block head%}
        <title>Gym Manager</title>
    {% endblock %}
    
</head>
<body>
    <header>
        <div class="links">
            <a href="/instructors">Instructors</a>
            <a href="/members">Members</a>
        </div>
    </header>

    <div class="container">
        
        {% block content %}
            <h1>FUNCINOU!</h1>
        {% endblock %}
        
    </div>

    <script src="/scripts.js"></script>

    {% block scripts %}{% endblock %}

</body>
</html>