{% extends 'layout.njk' %}

{% block head %}
    <title>404 Not found</title>
{% endblock %}

{% block content %}
    <div class="centralized">
        <div class="not_found">
            <img id="error-page-hh-illustration" src="https://www.gstatic.com/youtube/src/web/htdocs/img/monkey.png" alt="Não encontrado">
            <h1>Oops, página não encontada... <br> <a href="/">Voltar</a></h1>
        </div>
    </div>
{% endblock %}